.header1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px;
  min-height: 100px;
  background-color: #fcfcfc;
  color: #1b1b1b;
  transition: all 0.3s ease-in-out;
}
.header1 a {
  font-family: sans-serif;
  text-decoration: none;
  color: #2c2952;
  font-weight: 500;
}
.header1 a:hover {
  color: #e63b49;
}
.header1__collections-nav a {
  display: inline-block;
  padding-right: 20px;
}
.header1__collection-link {
  display: inline-block;
  position: relative;
}
.header1__collection-link .collection-link-sub-links {
  position: absolute;
  left: 0;
  top: 30px;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  padding: 20px 0;
  min-width: 150px;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  visibility: hidden;
}
.header1__collection-link .collection-link-sub-links a {
  font-size: 0.9rem;
  display: block;
  padding: 10px 20px;
}
.header1__collection-link:hover .collection-link-sub-links {
  opacity: 1;
  visibility: visible;
}
.header__heading-logo {
  width: var(--logo-size);
  height: var(--logo-size);
}
.header1__logo a {
  font-size: 2rem;
  font-family: "Shippori Antique", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header1__collections-nav {
  width: 33%;
  display: flex;
  justify-content: center;
}
.header1__logo {
  width: 33%;
}
.header1__icons{
  display: inline-block;
}