.header2 {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px 10px;
  color: #1b1b1b;
}
.header2 a {
  font-family: sans-serif;
  text-decoration: none;
  color: #2c2952;
  font-weight: 500;
}
.header2 a:hover {
  color: #e63b49;
}
.header2__collections-nav {
  padding-left: 0;
  margin-bottom: 0;
}
.header2__collections-nav a {
  display: inline-block;
  padding-right: 20px;
}
.header2__collection-link {
  display: inline-block;
  position: relative;
}
.header2__collection-link .collection-link-sub-links {
  position: absolute;
  left: 0;
  top: 30px;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  padding: 20px 0;
  min-width: 150px;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  visibility: hidden;
}
.header2__collection-link .collection-link-sub-links a {
  font-size: 0.9rem;
  display: block;
  padding: 10px 20px;
}
.header2__collection-link:hover .collection-link-sub-links {
  opacity: 1;
  visibility: visible;
}
.header2__company-name {
  font-style: italic;
  font-size: 2rem;
  font-weight: 800;
  background: -webkit-linear-gradient(45deg, #ffffff, #a38e8e 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.header2__logo a {
  font-size: 2rem;
  font-family: "Shippori Antique", sans-serif;
}
.header2__logo-img {
  width: 100px;
}
.header2 .placeholder-input {
  padding: 4px;
  border-radius: 15px;
  font-size: 0.9rem;
  width: 275px;
  padding: 10px;
}
.header2 .placeholder-div {
  width: 100%;
  margin-right: 10px;
}
.header2 .fa-search {
  margin-left: 10px;
  vertical-align: unset;
}
.header2__icons {
  display: inline-flex;
  padding-left: 30px;
}
